body{
    font-family: montserrat, serif;
    font-size: 16px;
    margin: 0
}
#corpo{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2rem;
}
header{
    color: white;
    background-color: #02A28F;
    text-align: initial;
    padding-left: 1rem;
    padding-right: 1rem;
}
h4{
    color: rgba(251, 251, 251, 0.77);
}
#header h1{
    padding: 1rem 0;
    font-weight: 700;
    margin: 0 0 2rem 20rem;
}
#introdução{
    background: linear-gradient(transparent 50%, rgba(2, 0, 0, 0.89)), url('backGround.jpg');
    background-size: cover;
    color: white;
    width: 46.5rem;
    height: 24.7rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
h2{
    font-weight: 400;
    font-size: 2rem;
}
#introdução h4,
#introdução h2{
    padding: 0;
    margin: 0;
}
#postsPopular{
    width: 22.5rem;
    height: 24.7rem;
    color: black;
}
#postsPopular h4{
    color: black;
    margin:0
}
#postsPopular header{
    height: 3rem;
    width: 23rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#postsPopular h3{
    margin:0;
}
.popularCards{
    justify-content: space-between;
    width: 24rem;
    height: 5.5rem;
    border: 1px transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.popularCards h4, data{
    font-size: 0.9rem;
}
.popularCards div{
    display: flex;
    flex-direction: column;
    align-items: end;
}
footer{
    margin-top: 5rem;
    background-color: #02A28F;
    color: white;
    text-align: center;
    padding: 1rem;
}
footer h4{
    margin-bottom: 0;
    margin-top: 0;
}
#categorias header{
    height: 3rem;
    width: 23rem;
    border-radius: 10px;
    justify-items: center;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#postRecenteHeader{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    justify-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}
#categorias h4{
    color: black;
}
.cards img{
    width: 100%;
}
.cards{
    width: 23rem;
    height: 24rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    text-align: initial;
    justify-content: flex-start;
}
.cards h4{
    color: #02A28F;
}
.cards h4,
.cards h3,
.cards h6,
.cards p{
    margin: 0;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.cards p{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.8);
}
#cards{
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap: 2rem;
}
.data{
    font-size: 0.8rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}
#categorias{
    width: 25rem;
    height: 11.5rem;
}
#categorias h4{
margin: 0.4rem;

}
.categorias{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
u:hover{
    color: #053e37;
    cursor: pointer;
}
.popularCards:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.cards:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    #header h1{
        padding: 0.5rem;
        margin: 0 .5rem 0 .5rem;
        max-width: 24rem;
    }
    #corpo {
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
        margin: 0 .5rem;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }
    #introdução{
        padding: 0.5rem;
        margin: 0 .5rem 0 .5rem;
        max-width: 95%;
        min-height: 24.7rem;
        background-position: center;
    }

    #postsPopular, .cards, #categorias {
        width: 100%;
        max-width: 99%;
        height: auto;

    }

    #cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    #postsPopular header{
        width: 100%;
        max-width: 90%;
    }
    #postsPopular div{
        width: 100%;
        max-width: 90%;
        justify-items: center;
        align-items: center;
    }
    #postsPopular {
        justify-items: center;
        margin: .5rem;
    }
    #categorias header{
        width: auto;

    }
    header{
        justify-content: center;
    }

}
@media only screen and (min-width: 769px) and (max-width: 1220px) {
    #corpo {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    #introdução {
        width: 100%;
        max-width: 93%;
        min-height: 22rem;
    }
    #postsPopular,
    #categorias {
        width: 70%;
        max-width: 25rem;
    }
    #cards {
        gap:.5rem;
        justify-content: space-between;
    }
    #cards div{
        width: 100%;
        height: auto;
        min-width: 5rem;
    }
    #cards h3{
        font-size: 100%;
        height: auto;

    }
    #header h1 {
        margin-left: 1rem;
    }
    #postsPopular, .cards, #categorias {
        width: 100%;
        height: auto;
    }
}

